<div class="contact">
    <!-- navbar -->
    <mat-toolbar style="display: flex;">
        <h1 style="font-size: 30px;">THE ROHO FOUNDATION</h1>
        <span class="example-spacer"></span>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/activities">Activities</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/donate">Donate</a></li>
          </ul>
        
      </mat-toolbar>

      <!-- footer -->
      <footer>
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </footer>
</div>
