.home{
 
  height: 100%;
  page-break-inside: auto;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
  font-size: 15px;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: auto;
  height: auto;
}
li{
  float: left;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h1{
  font-size: 35px;
}

footer{
  display: flex;
  align-self: baseline;
  justify-content: baseline;
  float: inline-end;
  color: white;
  margin-bottom: 3px;
  background-color: black;
  height: 10vh;
}
.waw{
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333;
  color: white;
}
.example-card {
  max-width: 400px;
  padding-bottom: 5px;
  padding-top: 5px;
}
p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
