<div class="home">

<mat-toolbar style="display: flex;">
  <h1 style="font-size: 30px;">THE ROHO FOUNDATION</h1>
  <span class="example-spacer"></span>
  <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/activities">Activities</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/donate">Donate</a></li>
    </ul>
  
</mat-toolbar>
<div class="waw">
<h1>Who are we?</h1>
<p style="font-size: 20px;"> The ROHO Foundation Kenya was founded in 2020 by a group of Kenyan youth, with an aim to reach out to the less fortunate in the society and help them out
  ,in whichever small way that we can. We are a non-profit and a non-government organisation that is dedicated and hoping to help make a positive change in the society.
  At ROHO, we believe that positive change and progress can be made when we come together and help those in need in our communities.
  When a community lifts itself out of poverty, everything changes. Poverty does more than exhaust, starve, trap and kill people.
  It destroys their sense of worth, limits their horizons, and robs people of the chance to reach their full potential. We long for new life and a new sense of worth for people.
  We do whatever it takes to end poverty and rebuild poor communities. We work through local communities, because they're Jesus’ body on earth, ready to care for the whole person.
  Please join us in our effort to help the destitute people of our society to understand theirs rights and the power they have to achieve a bright future.</p>

  <h1>Join our humble community</h1>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="color: black;">Women Empowerment Program</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="color: black;" >Our aim is to empower women in our community socially and economically
             through training in entrepeneurship & business startup.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="color: black;">Feeding & Education Program</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="color: black;">This  Program was developed to provide children from poor backgrounds with 
            no means to go to school a chance for an education and a decent meal</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="color: black;">Medical Program</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="color: black;">This program focuses on  HIV AIDS awareness & Prevention
            sensitization in Kenyan slums. We also tackle jigger infestation manace in rural Kenya.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="color: black;">Shelter Program</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="color: black;">
            We build decent shelters for the poor and the elderly in rural areas. For majority of the world poor,
            decent shelter remains a luxury hence helping their overall livelihoods.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>




<footer>
  <div class="rounded-social-buttons">
    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>

</div>